body{
    background-color: lightgray
    
        
    
}
@font-face{
    font-family: "Sofia Pro Bold Az";
    src: url("../fonts/sofiapro/Sofia Pro Bold Az.otf");
}
    @font-face{    
    font-family: "Sofia Pro Medium Az";
    src: url("../fonts/sofiapro/Sofia Pro Medium Az.otf");
}
header{
    text-align: center;
    height: 400px;
    margin: 20px;
    padding-top:  90PX;
    color:  white;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px; 20px;
    background-image: -webkit-linear-gradient(#2c7caf,#71b3cf);
}
h1{
    font-family: "Sofia Pro Bold Az";
    font-size: 45px;
    margin: 90px;
    
}
.quote{
    font-family: "Sofia Pro Medium Az";
    font-size: 12px;
    padding: 0;
}