body{
    width: 100%;
    background-color: #000000;
    color: #edf0df;
    margin: 0 auto;
    padding: none;
    text-align: center;
   

}
h1{
    border-width: 0px;
    margin: 150px;
    
}
h2,h3,li{
    font-family: "BentonSans Bold Regular", Arial, Verdana, sans-serif;
    text-align: center;
    line-height: 3px;
}
h2{
    
    font-size: 32px;
    letter-spacing: 3.2em;
    border-top: 3px solid #edf0df;
    border-bottom: 3px solid #edf0df;
    padding-top: 15px;
    padding-bottom: 13px;
    
}
h3{
    font-size: 20px;
} 
ul{
    border-width: 0px;
    }
li{
    display: inline;
    position: center;
    padding: 0px 30px 0px 0px;
}
a{
    color: #95661D;
    text-decoration: none;
    
}

