@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

$primary-font: 'Oswald', sans-serif;
$heading: 'Poppins', sans-serif;
$title: 'Syncopate', sans-serif;