@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

body {
    margin: 0px;
    background-color: #131313;
    
    
}
   
  .sidebar {
      grid-area: sidebar;
    }
   
    .content {
      grid-area: content;
    }
   
    .header {
      grid-area: header;
    }
   // MAIN PAGE SECTION //
   
    .wrapper {

      display: grid;
      grid-template-columns: 50%  1fr;
      grid-template-areas:
                 "header header"
                 "sidebar content";
      background-color: #131313;
      //border: solid 5px peru;
      color: #444;
      padding-bottom: 200px;
    }
  .box {
    background-color: #131313;
    color: #fff;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;
    margin: 10%;
    
  }
   
  .header {
    background-color: #131313;
    margin: 10px;
    //border: solid 5px cornflowerblue;//
  }

  .sidebar {
        padding: 0px;
  }

 .navbar {
    overflow: hidden;
    background-color: #131313;
    padding: 0 40px 0 40px; 
   
}

.navbar a {
    font-family: $title;
    //font-style: normal;//
    font-size: 35px;
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 20px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a.right{
    float: right;
    font-family: $heading;
    font-weight: 300;
    font-style: normal; 
    font-size: 16px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 32px;
    margin-right: 20px;
}
a.right:hover{
  color: #D04B38;
}

.myname {
    font-family: $primary-font;
    font-size: 100px;
    color: white;
    //float: left;//
    display: block;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    margin: 250px 0px 0px 0px;
    //border: solid 5px rosybrown;//
}
.occupation {
    font-family: $primary-font;
    font-size: 17.6px;
    color: white;
    text-align: center;
    display: block;
    padding: 5px;
    margin: 9px;
    text-transform: capitalize;  
    //border: solid 5px rosybrown;//
}

.flex-container {
text-align: center;
margin: 100
px;
//border: solid 5px brown;//
}

.photobox{
display: flex;
justify-content: center;
margin: 30px;
}


.photo{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-right: 30px;
  }
// About section //
    
.wrapper2 {
  //border: solid 1px peru;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 1fr 1fr;
  background-color: #131313;
  color: #444;
}


//THE ABOUT & COLLABORATE SECTION//
.section1{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
}
.hands1 {
  border-radius: 10px;
}

.section2{
  //border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin-top:190px;
  padding-left: 60px;
  padding-right: 60px;
}

.about {
  //border: 1px solid red;
  display: flex;
  justify-content:left;
  font-family: $heading;
  font-size: 40px;
  height: fit-content;
  margin: 0;

}

.description{
 // border: 1px solid red;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size: 24px;
  
}

.section3{
  //border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  font-family: $heading;
  //font-size: 14.4px;
  margin-top:190px;
  padding-left: 60px;
  padding-right: 60px;
}

.collabrate {
  //border: 1px solid red;
  display: flex;
  justify-content:left;
  
  font-family: $heading;
  font-size: 40px;
  height: fit-content;
  margin: 0;
}

.description2{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size: 24px;  
}


//CONTACT SECTION//



.wrapper3{
  //border: solid 1px peru;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  background-color: #131313;  
  padding-top: 250px;
  padding-bottom: 1250px;
}

.contact-title{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size: 54px;  

}

.contact-description{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size: 18px;  

}

.row{
//border: 1px solid red;
  display: flex;
  justify-content:center;
  height: fit-content;
  font-family: $heading;
  font-size: 24px;
  padding: 1.5rem; 
  //margin: 30px;
}

.form-group{
  //border: 1px solid red;
    display: flex;
    justify-content: center;
    height: fit-content;
    font-family: $heading;
    font-size: 24px;
    //background-color: #1A1919;
    //border: 1px solid #383838; 
    padding: 1.5rem; 
  }

.centerb{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size: 18px;
  
  
}

input, textarea{
  color: #2d394b;
  background-color: #1a1919;
  border: 1px solid #383838;
  border-radius: .35rem;
  font-size: 17px;
}
#contactFullName{
  padding: 15px 40px 15px 20px;
  margin-right: 15px;

}
#contactEmail{
  padding: 15px 40px 15px 20px;
  margin-left: 15px;
}
#contactSubject{
  padding: 15px 304px 15px 20px; 

}
#contactTextarea {
  padding: 15px 304px 50px 20px; 
}





.send{
    font-family: $heading;
    font-size: 0.8rem;
    border-radius: 2rem;  
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
  color:#1a1919;
  background-color:#fff; 
}


//FOOTER SECTION //
footer{
  display: flex;
  justify-content: center;
  height: fit-content;
  font-family: $heading;
  font-size:16px;
  color: white;
  background-color: #131313;
}

//Medium screens and up
@media (min-width: 768px){

}
//Big screens
@media (min-width: 1024px){
    
}